@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h4>Duyuru Listesi</h4>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Duyuruyu Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Duyuruyu Aç</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Duyuru Ekle</a>