
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Index</h1>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<button id="btn1" style="display: inline-block; inline-size:150px">button 1</button>
<br />
<button id="btn2" style="display: inline-block; inline-size:150px">button 1</button>
<br />
<script>
    $("#btn1").click(function () {
        swal("Hello word");
    });

    $("#btn2").click(function () {
        swal("Basarılı ekleme","Tebrikler","success" );
    });

</script>