
@{
    ViewData["Title"] = "ReporList";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h3>Rapor Listeleme Sayfası</h3>
<br />
<br />
<hr />
<div>
    <a href="/Report/ExcelStatic/" class="btn btn-warning">   Excel Static Liste  </a>
    <br />
    <br />
    <a href="/Report/DynamicExcel/" class="btn btn-warning">Excel Dinamic Liste</a>
    <br />
    <br />
    <a href="/Report/StaticPdfReport/" class="btn btn-warning">   Pdf Static Liste  </a>
</div>